{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drone Project • Sign up</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="container">
        {% block content %}
        <h1>Sign up</h1>

        <form method="post" class="form-control">
            {% csrf_token %}

            <div class="form-group">
                {{form.as_p}}
            </div>

            <div class="action-group">
                <input type="submit" value="Sign up" id="save-input">
                <a href="{% url 'home' %}" id="cancel-input">Cancel</a>
            </div>
        </form>
        {% endblock %}
    </div>
</body>
</html>