body {
    font-family: Arial, sans-serif;
    background-color: #28282B;
}

.launch-container {
    padding: 50px;
    margin-bottom: -25px;
    text-align: center;
}

#launch-input {
    text-decoration: none;
    padding: 25px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #FF0000;
}

.account-block a {
    text-decoration: none;
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #50C878;
}

.item-heading {
    display: inline-block;
}

.item-heading h1 {
    float: left;
    padding-left: 15px;
    font-size: 40px;
    color: #FFFFFF;
}

.item-heading a {
    float: right;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #50C878;
}

.items-table {
    width: 98%;
    margin: 0 auto;
    margin-top: -15px;
    border-spacing: 18px;
    border-radius: 5px;
    background-color: #47474a;
}

.items-table th {
    text-align: center;
    color: #FFFFFF;
}

.items-table td {
    text-align: center;
    color: #FFFFFF;
}

.items-table td a {
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    color: #FFFFFF;
}

.item-connect {
    background-color: #50C878;
}

.item-edit {
    background-color: #FFBF00;
}

.item-delete {
    background-color: #FF0000;
}