{% extends 'base.html' %}
{% load static %}

{% block title %}Drone Project • Edit AP{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
    <body>
        <div class="container">
            <h1>Edit AP</h1>

            <form action="{% url 'edit_ap' ap.ap_id %}" method="post" class="form-control">
                {% csrf_token %}

                <div class="form-group">
                    {{ form.as_p }}
                </div>

                <div class="action-group">
                    <input type="submit" value="Save" id="save-input">
                    <a href="{% url 'home' %}" id="cancel-input">Cancel</a>
                </div>
            </form>

        </div>
    </body>
{% endblock %}