{% extends 'base.html' %}
{% load static %}

{% block title %}Drone Project • Update User{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/update_user.css' %}">
{% endblock %}

{% block content %}
    <body>
        <div class="container">
            <h1>Update User</h1>

            <form action="{% url 'edit_account' %}" method="post" class="form-control">
                {% csrf_token %}

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" value="{{ form.username.value }}">
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" value="{{ form.email.value }}">
                </div>

                <a href="{% url 'change_password' %}" id="change-password">Change Password</a>

                <div class="action-group">
                    <input type="submit" value="Save Changes" id="save-input">
                    <a href="{% url 'home' %}" id="cancel-input">Cancel</a>
                </div>
            </form>

        </div>
    </body>
{% endblock %}